<div style="display:inline">
  <p>
    Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}.
    All content on this site is available under a <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
  </p>
  <p>
    Powered by <a href="http://octopress.org">Octopress</a> |
    Theme based on <a href="http://github.com/panks/fabric">fabric</a> by <a href="http://panks.me">Pankaj Kumar</a>
  </p>
</div>
